@using System.Web.UI.WebControls
@model LastTest.User

@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit User</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ID)
    <table>
        <tr>
            <td>
                ID:
            </td>
            <td>
                @Html.TextBoxFor(model => model.ID, new { @class = "form-control", PlaceHolder = "ID" })
            </td>
        </tr>
        <tr>
            <td>
                Account
            </td>
            <td>
                @Html.TextBoxFor(model => model.Account, new { @class = "form-control", PlaceHolder = "Account" })
            </td>
        </tr>
        <tr>
            <td>
                Role:
            </td>
            <td>
                @Html.TextBoxFor(model => model.Role, new { @class = "form-control", PlaceHolder = "Role" })
            </td>
        </tr>
        <tr>
            <td>
                DisplayName:
            </td>
            <td>
                @Html.TextBoxFor(model => model.DisplayName, new { @class = "form-control", PlaceHolder = "DisplayName" })
            </td>
        </tr>
        <tr style="text-align: center; padding-top: 20px">
            <td colspan="2">
                <input type="submit" value="Save User" class="btn btn-danger" />
            </td>
        </tr>
    </table>

}
<p></p>
<div>
    @Html.ActionLink("Back to List", "ListUser")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
