@using Microsoft.Owin.Security
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() != 0)
    {
        using (Html.BeginForm("ExternalLogin", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList" class="text-center">
                
                    <div class="card" style="margin-top: 5px">
                        <h3>Đăng nhập bằng Facebook để tiếp tục</h3>
                        <p>
                            @foreach (AuthenticationDescription p in loginProviders)
                            {
                                <button type="submit" class="btn" style="background-color: #29487d" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                            }
                        </p>
                    </div>
                
                


            </div>
        }
    }
}
