@model IEnumerable<LastTest.Models.OrderInfo>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListOrder</title>
    @Html.Partial("Script")
</head>
<body>
    @using (Html.BeginForm("Reload", "OrderControl", FormMethod.Post))
    {
        
        @Html.DropDownList("IdStatus", " Choose status ")
        <input type="submit" value="Chọn" class="btn btn-success" />
    }
<div>
    <div class="col-md-4">
        @Html.Partial("NavPill")
    </div>
    <div class="col-md-8">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IDShip)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IDCustomer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DisplayName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDShip)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDCustomer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DisplayName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
    
</body>
</html>
