
<ul class="nav nav-pills nav-pills-info nav-stacked" style="background-color:#8e24aa; border-radius: 6px; padding: 10px;">
    @*<li class="@(ViewBag.Current == "ViewStore" ? "active" : "")"><a href="@Url.Action("ViewStore", "StoreAction")">Danh sách cửa hàng</a></li>*@
    <li class="@(ViewBag.Current == "StoreDetails" ? "active" : "")"><a href="@Url.Action("StoreDetails", "StoreAction")">Danh sách chi tiết các cửa hàng</a></li>
    <li class="@(ViewBag.Current == "AddStore" ? "active" : "")"><a href="@Url.Action("AddStore", "StoreAction")">Thêm mới cửa hàng</a></li>
    <li class="@(ViewBag.Current == "ListOrder" ? "active" : "")"><a href="@Url.Action("ListOrder", "OrderControl")">Danh sách các đơn đặt hàng</a></li>
    <li class="@(ViewBag.Current == "ListUser" ? "active" : "")"><a href="@Url.Action("ListUser", "Admin")">Danh sách khách hàng</a></li>
    <li class="@(ViewBag.Current == "GetListProm" ? "active" : "")"><a href="@Url.Action("GetListProm", "PromotionAction")">Danh sách khuyến mãi</a></li>
</ul>
