@model IEnumerable<LastTest.Store>

    @{
        Layout = null;
    }

    <!DOCTYPE HTML>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>ViewStore</title>
        <script src="~/Scripts/bootstrap-notify.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/chartist.min.js"></script>
        <script src="~/Scripts/demo.js"></script>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/material-dashboard.js"></script>
        <script src="~/Scripts/material.min.js"></script>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/demo.css" rel="stylesheet" />
        <link href="~/Content/material-dashboard.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">
    </head>
    <body>
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="category">Danh Sách Chi Tiết</h4>
                <a href="@Url.Action("AddStore", "StoreAction")"><button class="btn btn-info" style="padding-left: 50px; padding-right: 50px">Thêm mới quán</button></a>
                <a href="@Url.Action("ViewStore", "StoreAction")"><button class="btn btn-info" style="padding-left: 50px; padding-right: 50px">Back</button></a>
            </div>
            <div class="card-content table-responsive table-full-width">
                <table class="table">
                    <thead class="text-danger">
                    <th>
                        @Html.DisplayNameFor(model => model.ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NameStore)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Avatar)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cover)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rep)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Latitude)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Longtitude)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mobile)
                    </th>
                    <th></th>
                    </thead>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NameStore)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                <img src="@item.Avatar" style="width: 50px; height: 50px" />
                            </td>
                            <td>
                                <img src="@item.Cover" style="width: 50px; height: 50px" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rep)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Latitude)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Longtitude)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mobile)
                            </td>
                            <td>
                                <a href="@Url.Action("EditStore", "StoreAction", new {id = item.ID})"><button class="btn btn-primary btn-round btn-fab btn-fab-mini"><i class="material-icons">mode_edit</i><div class="ripple-container"></div></button></a> |
                                
                            
                                <a href="@Url.Action("DeleteStore", "StoreAction", new {id = item.ID})"><button class="btn btn-primary btn-round btn-fab btn-fab-mini"><i class="material-icons">delete_forever</i><div class="ripple-container"></div></button></a>

                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </body>
</html>
