@model LastTest.Menu

@{
    ViewBag.Title = "DeleteMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header" data-background-color="purple">
        <h4 class="category" style="text-align: center">Bạn thực sự muốn xóa thông tin thức uống này?</h4>
    </div>
    <div class="row" style="padding-left: 30px; padding-top: 16px">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Store.NameStore)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Store.NameStore)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Image)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OfferPercent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OfferPercent)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Selled)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Selled)
            </dd>
        </dl>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group clear-fix">
            <div class="col-md-6">
                <input class="btn btn-primary pull-right" type="submit" value="Xóa" />
            </div>
            <div class="col-md-6">
                <a class="pull-left btn btn-info" href="@Url.Action("GetListStore", "StoreMenuAction")">Quay lại</a>
            </div>
        </div>
    }
</div>
