@model IEnumerable<LastTest.Store>

@{
    ViewBag.Title = "GetListStore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
        @using (Html.BeginForm("GetListStore","StoreMenuAction",FormMethod.Get))
        {
            <div class="clear-fix">
                <div class="col-md-8">
                    <div class="form-group label-floating pull-left" style="width: 250px">
                        <label style="font-size: 20px" class="control-label">Tìm kiếm cửa hàng</label>
                        @Html.TextBox("searchString", null, new { @class = "form-control" })
                    </div>
                    <input type="submit" value="Tìm kiếm" class="btn btn-primary" style="position: absolute; top: 20px; left: 280px" />
                </div>
            </div>
        }
<div class="card">
    <div class="card-header" data-background-color="purple">
        <h4 class="category" style="text-align: center">Danh Sách Cửa Hàng</h4>
    </div>
    <div class="card-content table-responsive table-full-width">
        <table class="table">
            <thead class="text-primary">
            <th>
                @*@Html.DisplayNameFor(model => model.Avatar)*@Logo
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.NameStore)*@Tên cửa hàng
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Address)*@Địa chỉ
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Mobile)*@Liên hệ
            </th>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@Html.DisplayFor(modelItem => item.Avatar)" style="width: 75px; height: 75px;"/>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameStore)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mobile)
                    </td>
                    <td>
                        @Html.ActionLink("Menu", "DetailMenu", new {idStore = item.ID})
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
    <div>
        <a class="pull-left btn btn-info" href="@Url.Action("GetListStore", "StoreMenuAction")">Quay lại</a>
    </div>
        
